In [1]:
# uncomment this on first run
# !wget https://ucr.fbi.gov/crime-in-the-u.s/2013/crime-in-the-u.s.-2013/tables/table-8/table-8-state-cuts/table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls/output.xls

In [2]:
!ls

CODE-OF-CONDUCT.md			  MANIFEST
courses					  MANIFEST.in
environment.yml				  output.xls
fastai					  README.md
feedback-analysis-with-naive-bayes.ipynb  README.rst
food-101				  requirements.txt
food-101.tar				  sentiment labelled sentences
food-101.tar.gz				  sentiment labelled sentences.zip
Image_Classify.ipynb			  setup.cfg
LICENSE					  setup.py
linear-regression-crime-data.ipynb	  tutorials
__MACOSX				  wget-log

In [3]:
# install this for pandas to read excel files
!pip install xlrd

Requirement already satisfied: xlrd in /home/paperspace/anaconda3/envs/fastai/lib/python3.6/site-packages
You are using pip version 9.0.1, however version 19.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [4]:
import pandas as pd

df = pd.read_excel('output.xls')

df.columns = [
    'city', 
    'pop', 
    'violent crime', 
    'killings', 
    'rape (new definition)',
    'rape (old definition)',
    'robbery',
    'agg assualt',
    'property crime',
    'burglary',
    'larceny-theft',
    'motor vehicle theft',
    'arson'
]

df

,city,pop,violent crime,killings,rape (new definition),rape (old definition),robbery,agg assualt,property crime,burglary,larceny-theft,motor vehicle theft,arson
0,NEW YORK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Offenses Known to Law Enforcement,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"by City, 2013",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape\n(revised\ndefinition)1,Rape\n(legacy\ndefinition)2,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson3
4,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0
5,Addison Town and Village,2577,3,0,NaN,0,0,3,24,3,20,1,0
6,Akron Village,2846,3,0,NaN,0,0,3,16,1,15,0,0
7,Albany,97956,791,8,NaN,30,227,526,4090,705,3243,142,NaN
8,Albion Village,6388,23,0,NaN,3,4,16,223,53,165,5,NaN
9,Alfred Village,4089,5,0,NaN,0,3,2,46,10,36,0,NaN
10,Allegany Village,1781,3,0,NaN,0,0,3,10,0,10,0,0
11,Amherst Town,118296,107,1,NaN,7,31,68,2118,204,1882,32,3
12,Amityville Village,9519,9,0,NaN,2,4,3,210,16,188,6,1
13,Amsterdam,18182,30,0,NaN,0,12,18,405,99,291,15,0
14,Arcade Village,2053,0,0,NaN,0,0,0,39,3,35,1,0
15,Ardsley Village,4523,5,0,NaN,0,3,2,33,4,28,1,0
16,Asharoken Village,658,0,0,NaN,0,0,0,2,0,2,0,0
17,Attica Village,2522,2,0,NaN,0,0,2,5,0,4,1,0
18,Auburn,27270,96,1,NaN,20,22,53,859,132,721,6,NaN
19,Avon Village,3333,1,0,NaN,0,1,0,25,3,20,2,NaN
20,Baldwinsville Village,7473,5,0,NaN,0,1,4,88,10,77,1,0
21,Ballston Spa Village,5418,8,0,NaN,0,3,5,94,16,78,0,1
22,Batavia,15374,57,0,NaN,7,13,37,559,103,454,2,NaN
23,Bath Village,5733,15,0,NaN,1,3,11,191,32,157,2,2
24,Bedford Town,17627,5,0,NaN,0,1,4,156,26,127,3,NaN
25,Bethlehem Town,34243,13,0,NaN,0,3,10,442,50,388,4,NaN
26,Binghamton,46304,284,3,NaN,19,101,161,2349,525,1767,57,NaN
27,Black River,1410,0,0,NaN,0,0,0,14,2,12,0,0
28,Blooming Grove Town,12001,8,0,NaN,1,0,7,99,20,72,7,NaN
29,Bolivar Village,1022,1,0,NaN,0,0,1,4,2,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,Utica,61686,361,7,NaN,27,102,225,2528,449,1997,82,NaN
326,Vestal Town,27980,16,0,NaN,2,6,8,571,39,523,9,NaN
327,Walden Village,6887,18,1,NaN,2,1,14,142,13,124,5,NaN
328,Wallkill Town,27940,40,0,NaN,3,16,21,767,91,650,26,1
329,Walton Village,3012,6,0,NaN,1,0,5,68,18,50,0,NaN
330,Warsaw Village,3453,6,0,NaN,1,0,5,78,5,73,0,0
331,Washingtonville Village,5828,2,0,NaN,0,1,1,58,5,51,2,0
332,Waterford Town and Village,8392,4,0,NaN,0,0,4,59,6,52,1,0
333,Waterloo Village,5175,11,0,NaN,0,3,8,194,23,169,2,NaN
334,Watertown,28179,109,0,NaN,12,16,81,1165,169,953,43,NaN
335,Watervliet,10245,26,1,NaN,3,11,11,242,58,163,21,NaN
336,Watkins Glen Village,1862,6,0,NaN,0,0,6,92,10,80,2,NaN
337,Waverly Village,4337,5,0,NaN,0,1,4,54,9,41,4,NaN
338,Webster Town and Village,43777,21,0,NaN,2,3,16,469,101,361,7,NaN
339,Weedsport Village,1797,0,0,NaN,0,0,0,25,5,20,0,0
340,Wellsville Village,4574,11,0,NaN,1,0,10,164,32,129,3,1
341,Westhampton Beach Village,1732,2,0,NaN,0,0,2,44,4,37,3,0
342,West Seneca Town,44821,35,1,NaN,1,9,24,896,166,710,20,0
343,Whitehall Village,2604,6,0,NaN,0,0,6,62,12,49,1,NaN
344,White Plains,57559,78,1,NaN,3,28,46,1232,77,1134,21,NaN
345,Whitesboro Village,3733,4,0,NaN,0,0,4,36,14,21,1,0
346,Whitestown Town,9141,0,0,NaN,0,0,0,77,13,61,3,0
347,Woodbury Town,10685,3,0,NaN,0,2,1,541,9,529,3,NaN
348,Woodridge Village,829,7,0,NaN,0,0,7,17,8,9,0,0
349,Woodstock Town,5931,2,0,NaN,0,0,2,58,13,45,0,NaN
350,Yonkers,199134,1036,6,NaN,25,390,615,2368,470,1662,236,10
351,Yorktown Town,36643,15,0,NaN,0,2,13,334,45,287,2,NaN
352,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,3 The FBI does not publish arson data unless i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.drop(df.index[:4], inplace=True)

df

,city,pop,violent crime,killings,rape (new definition),rape (old definition),robbery,agg assualt,property crime,burglary,larceny-theft,motor vehicle theft,arson
4,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0
5,Addison Town and Village,2577,3,0,NaN,0,0,3,24,3,20,1,0
6,Akron Village,2846,3,0,NaN,0,0,3,16,1,15,0,0
7,Albany,97956,791,8,NaN,30,227,526,4090,705,3243,142,NaN
8,Albion Village,6388,23,0,NaN,3,4,16,223,53,165,5,NaN
9,Alfred Village,4089,5,0,NaN,0,3,2,46,10,36,0,NaN
10,Allegany Village,1781,3,0,NaN,0,0,3,10,0,10,0,0
11,Amherst Town,118296,107,1,NaN,7,31,68,2118,204,1882,32,3
12,Amityville Village,9519,9,0,NaN,2,4,3,210,16,188,6,1
13,Amsterdam,18182,30,0,NaN,0,12,18,405,99,291,15,0
14,Arcade Village,2053,0,0,NaN,0,0,0,39,3,35,1,0
15,Ardsley Village,4523,5,0,NaN,0,3,2,33,4,28,1,0
16,Asharoken Village,658,0,0,NaN,0,0,0,2,0,2,0,0
17,Attica Village,2522,2,0,NaN,0,0,2,5,0,4,1,0
18,Auburn,27270,96,1,NaN,20,22,53,859,132,721,6,NaN
19,Avon Village,3333,1,0,NaN,0,1,0,25,3,20,2,NaN
20,Baldwinsville Village,7473,5,0,NaN,0,1,4,88,10,77,1,0
21,Ballston Spa Village,5418,8,0,NaN,0,3,5,94,16,78,0,1
22,Batavia,15374,57,0,NaN,7,13,37,559,103,454,2,NaN
23,Bath Village,5733,15,0,NaN,1,3,11,191,32,157,2,2
24,Bedford Town,17627,5,0,NaN,0,1,4,156,26,127,3,NaN
25,Bethlehem Town,34243,13,0,NaN,0,3,10,442,50,388,4,NaN
26,Binghamton,46304,284,3,NaN,19,101,161,2349,525,1767,57,NaN
27,Black River,1410,0,0,NaN,0,0,0,14,2,12,0,0
28,Blooming Grove Town,12001,8,0,NaN,1,0,7,99,20,72,7,NaN
29,Bolivar Village,1022,1,0,NaN,0,0,1,4,2,2,0,0
30,Bolton Town,2325,2,0,NaN,0,0,2,24,4,20,0,0
31,Boonville Village,2054,1,0,NaN,0,0,1,20,6,14,0,0
32,Brant Town,2065,4,0,NaN,0,1,3,31,9,20,2,0
33,Brewster,2358,0,0,NaN,0,0,0,13,3,10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,Utica,61686,361,7,NaN,27,102,225,2528,449,1997,82,NaN
326,Vestal Town,27980,16,0,NaN,2,6,8,571,39,523,9,NaN
327,Walden Village,6887,18,1,NaN,2,1,14,142,13,124,5,NaN
328,Wallkill Town,27940,40,0,NaN,3,16,21,767,91,650,26,1
329,Walton Village,3012,6,0,NaN,1,0,5,68,18,50,0,NaN
330,Warsaw Village,3453,6,0,NaN,1,0,5,78,5,73,0,0
331,Washingtonville Village,5828,2,0,NaN,0,1,1,58,5,51,2,0
332,Waterford Town and Village,8392,4,0,NaN,0,0,4,59,6,52,1,0
333,Waterloo Village,5175,11,0,NaN,0,3,8,194,23,169,2,NaN
334,Watertown,28179,109,0,NaN,12,16,81,1165,169,953,43,NaN
335,Watervliet,10245,26,1,NaN,3,11,11,242,58,163,21,NaN
336,Watkins Glen Village,1862,6,0,NaN,0,0,6,92,10,80,2,NaN
337,Waverly Village,4337,5,0,NaN,0,1,4,54,9,41,4,NaN
338,Webster Town and Village,43777,21,0,NaN,2,3,16,469,101,361,7,NaN
339,Weedsport Village,1797,0,0,NaN,0,0,0,25,5,20,0,0
340,Wellsville Village,4574,11,0,NaN,1,0,10,164,32,129,3,1
341,Westhampton Beach Village,1732,2,0,NaN,0,0,2,44,4,37,3,0
342,West Seneca Town,44821,35,1,NaN,1,9,24,896,166,710,20,0
343,Whitehall Village,2604,6,0,NaN,0,0,6,62,12,49,1,NaN
344,White Plains,57559,78,1,NaN,3,28,46,1232,77,1134,21,NaN
345,Whitesboro Village,3733,4,0,NaN,0,0,4,36,14,21,1,0
346,Whitestown Town,9141,0,0,NaN,0,0,0,77,13,61,3,0
347,Woodbury Town,10685,3,0,NaN,0,2,1,541,9,529,3,NaN
348,Woodridge Village,829,7,0,NaN,0,0,7,17,8,9,0,0
349,Woodstock Town,5931,2,0,NaN,0,0,2,58,13,45,0,NaN
350,Yonkers,199134,1036,6,NaN,25,390,615,2368,470,1662,236,10
351,Yorktown Town,36643,15,0,NaN,0,2,13,334,45,287,2,NaN
352,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,3 The FBI does not publish arson data unless i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.drop(df.tail(3).index,inplace=True) # drop last n rows
df

,city,pop,violent crime,killings,rape (new definition),rape (old definition),robbery,agg assualt,property crime,burglary,larceny-theft,motor vehicle theft,arson
4,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0
5,Addison Town and Village,2577,3,0,NaN,0,0,3,24,3,20,1,0
6,Akron Village,2846,3,0,NaN,0,0,3,16,1,15,0,0
7,Albany,97956,791,8,NaN,30,227,526,4090,705,3243,142,NaN
8,Albion Village,6388,23,0,NaN,3,4,16,223,53,165,5,NaN
9,Alfred Village,4089,5,0,NaN,0,3,2,46,10,36,0,NaN
10,Allegany Village,1781,3,0,NaN,0,0,3,10,0,10,0,0
11,Amherst Town,118296,107,1,NaN,7,31,68,2118,204,1882,32,3
12,Amityville Village,9519,9,0,NaN,2,4,3,210,16,188,6,1
13,Amsterdam,18182,30,0,NaN,0,12,18,405,99,291,15,0
14,Arcade Village,2053,0,0,NaN,0,0,0,39,3,35,1,0
15,Ardsley Village,4523,5,0,NaN,0,3,2,33,4,28,1,0
16,Asharoken Village,658,0,0,NaN,0,0,0,2,0,2,0,0
17,Attica Village,2522,2,0,NaN,0,0,2,5,0,4,1,0
18,Auburn,27270,96,1,NaN,20,22,53,859,132,721,6,NaN
19,Avon Village,3333,1,0,NaN,0,1,0,25,3,20,2,NaN
20,Baldwinsville Village,7473,5,0,NaN,0,1,4,88,10,77,1,0
21,Ballston Spa Village,5418,8,0,NaN,0,3,5,94,16,78,0,1
22,Batavia,15374,57,0,NaN,7,13,37,559,103,454,2,NaN
23,Bath Village,5733,15,0,NaN,1,3,11,191,32,157,2,2
24,Bedford Town,17627,5,0,NaN,0,1,4,156,26,127,3,NaN
25,Bethlehem Town,34243,13,0,NaN,0,3,10,442,50,388,4,NaN
26,Binghamton,46304,284,3,NaN,19,101,161,2349,525,1767,57,NaN
27,Black River,1410,0,0,NaN,0,0,0,14,2,12,0,0
28,Blooming Grove Town,12001,8,0,NaN,1,0,7,99,20,72,7,NaN
29,Bolivar Village,1022,1,0,NaN,0,0,1,4,2,2,0,0
30,Bolton Town,2325,2,0,NaN,0,0,2,24,4,20,0,0
31,Boonville Village,2054,1,0,NaN,0,0,1,20,6,14,0,0
32,Brant Town,2065,4,0,NaN,0,1,3,31,9,20,2,0
33,Brewster,2358,0,0,NaN,0,0,0,13,3,10,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,Tupper Lake Village,3642,3,0,NaN,0,0,3,83,22,59,2,NaN
323,Tuxedo Park Village,615,0,0,NaN,0,0,0,0,0,0,0,0
324,Ulster Town,12195,14,0,NaN,3,2,9,437,25,410,2,NaN
325,Utica,61686,361,7,NaN,27,102,225,2528,449,1997,82,NaN
326,Vestal Town,27980,16,0,NaN,2,6,8,571,39,523,9,NaN
327,Walden Village,6887,18,1,NaN,2,1,14,142,13,124,5,NaN
328,Wallkill Town,27940,40,0,NaN,3,16,21,767,91,650,26,1
329,Walton Village,3012,6,0,NaN,1,0,5,68,18,50,0,NaN
330,Warsaw Village,3453,6,0,NaN,1,0,5,78,5,73,0,0
331,Washingtonville Village,5828,2,0,NaN,0,1,1,58,5,51,2,0
332,Waterford Town and Village,8392,4,0,NaN,0,0,4,59,6,52,1,0
333,Waterloo Village,5175,11,0,NaN,0,3,8,194,23,169,2,NaN
334,Watertown,28179,109,0,NaN,12,16,81,1165,169,953,43,NaN
335,Watervliet,10245,26,1,NaN,3,11,11,242,58,163,21,NaN
336,Watkins Glen Village,1862,6,0,NaN,0,0,6,92,10,80,2,NaN
337,Waverly Village,4337,5,0,NaN,0,1,4,54,9,41,4,NaN
338,Webster Town and Village,43777,21,0,NaN,2,3,16,469,101,361,7,NaN
339,Weedsport Village,1797,0,0,NaN,0,0,0,25,5,20,0,0
340,Wellsville Village,4574,11,0,NaN,1,0,10,164,32,129,3,1
341,Westhampton Beach Village,1732,2,0,NaN,0,0,2,44,4,37,3,0
342,West Seneca Town,44821,35,1,NaN,1,9,24,896,166,710,20,0
343,Whitehall Village,2604,6,0,NaN,0,0,6,62,12,49,1,NaN
344,White Plains,57559,78,1,NaN,3,28,46,1232,77,1134,21,NaN
345,Whitesboro Village,3733,4,0,NaN,0,0,4,36,14,21,1,0
346,Whitestown Town,9141,0,0,NaN,0,0,0,77,13,61,3,0
347,Woodbury Town,10685,3,0,NaN,0,2,1,541,9,529,3,NaN
348,Woodridge Village,829,7,0,NaN,0,0,7,17,8,9,0,0
349,Woodstock Town,5931,2,0,NaN,0,0,2,58,13,45,0,NaN
350,Yonkers,199134,1036,6,NaN,25,390,615,2368,470,1662,236,10
351,Yorktown Town,36643,15,0,NaN,0,2,13,334,45,287,2,NaN

In [12]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /home/paperspace/anaconda3/envs/fastai/lib/python3.6/site-packages
You are using pip version 9.0.1, however version 19.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [13]:
# sklearn.__path__

NameError: name 'sklearn' is not defined

In [19]:
from sklearn import linear_model
'''
# Acquire, load, and preview the data.
data = pd.read_csv('https://tf-curricula-prod.s3.amazonaws.com/data-science/Advertising.csv')
display(data.head())

# Instantiate and fit our model.
regr = linear_model.LinearRegression()
Y = data['Sales'].values.reshape(-1, 1)
X = data[['TV','Radio','Newspaper']]
regr.fit(X, Y)

# Inspect the results.
print('\nCoefficients: \n', regr.coef_)
print('\nIntercept: \n', regr.intercept_)
print('\nR-squared:')
print(regr.score(X, Y))
'''

regre = linear_model.LinearRegresssion()
Y = data["property crime"]
X = data[[
    "pop",
    "violent crime",
    "killings",
    "rape (new definition)",
    "rape (old definition)"
    ]]

regr.fit(X, Y)

print('\nCoefficients: \n', regr.coef_)
print('\nIntercept: \n', regr.intercept_)
print('\nR-squared:')
print(regr.score(X, Y))

AttributeError: module 'sklearn.linear_model' has no attribute 'LinearRegresssion'